html {
  font-size: 16px;
}

body {
  background-color: #fff;
  color: #222222;
  line-height: 1.5;
  padding-top: 2rem;
}

.logo {
  max-width: 5rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

section {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

h1,
h2,
h3,
p {
  margin-bottom: 1rem;
  margin-top: 0;
}

a {
  color: #772873;
}

a:hover {
  text-decoration: none;
}

h1 span {
  display: block;
}

@media screen {
  ol {
  }

  li {
  }
}
