$color-dark: rgb(30, 30, 30);
$color-light: rgb(245, 245, 245);

body {
  background-color: $color-light;
  color: $color-dark;
  line-height: 1.75;
  margin: 5%;
}

main {
  margin-bottom: 3em;
  max-width: 600px;
}

.lead {
  font-style: italic;
}

a {
  color: #a6110f;
  &:hover {
    text-decoration: none;
  }
}

img {
  vertical-align: text-bottom;
}
