@font-face {
  font-family: 'FiraCode';
  src: url('../fonts/FiraCode-Regular.woff2') format('woff2'),
    url('../fonts/FiraCode-Regular.woff') format('woff');
}

body {
  line-height: 1.75;
  margin: 5%;
}

main {
  max-width: 600px;
}

code,
pre {
  font-family: 'FiraCode';
}

.lead {
  font-style: italic;
}

a {
  color: #32946f;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  // font-size: 1.5em;
  margin-top: 0;
}

h2 {
  // font-size: 1.25em;
}

img {
  max-width: 100%;
}
